In [3]:
import pandas as pd

In [16]:
df = pd.read_csv(r"C:\Users\gefenk\Documents\Data science\DataScience\bank-full_2016.csv")

In [20]:

print "the dinemsion of the table {}".format(df.shape)

the dinemsion of the table (45211, 17)

In [29]:
print "the different attirbutes in it: {}".format(df.columns.values)

the different attirbutes in it: ['age' 'job' 'marital' 'education' 'default_credit' 'balance'
 'housing_loan' 'personal_loan' 'contact' 'day' 'month' 'duration'
 'campaign' 'days_from_last_contact' 'previous_campaign_contacts'
 'previous_campaign_outcome' 'outcome']

In [46]:
array = df['outcome'].values
counter = {}
for val in array:
    counter[val] = counter.get(val, 0) + 1
print counter

{'yes': 5289, 'no': 39922}

In [48]:
df.head(5)

,age,job,marital,education,default_credit,balance,housing_loan,personal_loan,contact,day,month,duration,campaign,days_from_last_contact,previous_campaign_contacts,previous_campaign_outcome,outcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,NaN,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,NaN,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,NaN,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,NaN,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,NaN,0,unknown,no

In [53]:
for index,val in enumerate(df.iloc[0,:]):
    print "the attribute : {} the type: {}".format( df.columns.values[index], type(val))

the attribute : age the type: <type 'numpy.int64'>
the attribute : job the type: <type 'str'>
the attribute : marital the type: <type 'str'>
the attribute : education the type: <type 'str'>
the attribute : default_credit the type: <type 'str'>
the attribute : balance the type: <type 'numpy.int64'>
the attribute : housing_loan the type: <type 'str'>
the attribute : personal_loan the type: <type 'str'>
the attribute : contact the type: <type 'str'>
the attribute : day the type: <type 'numpy.int64'>
the attribute : month the type: <type 'str'>
the attribute : duration the type: <type 'numpy.int64'>
the attribute : campaign the type: <type 'numpy.int64'>
the attribute : days_from_last_contact the type: <type 'numpy.float64'>
the attribute : previous_campaign_contacts the type: <type 'numpy.int64'>
the attribute : previous_campaign_outcome the type: <type 'str'>
the attribute : outcome the type: <type 'str'>